.hg
.hgtags
.idea
.DS_Store
.lsp
.clj-kondo
.vscode
tmp
.tmp
target*
deploy*
distribution*
environments*
!fixtures/
!fixtures/readme-smoke/
!fixtures/readme-smoke/environments/
!fixtures/readme-smoke/environments/**
Gemfile.lock
dist/
.qlty/
images/
.deploy/

# include
conf/*
environments/*/secrets/
environments/*/target/
environments/*/distribution/

# exclude
# exclude
!conf/.gitkeep
